#countdown {
    position: absolute;
    font-size: 30px;
    color: white;
    border-radius: 50%;
    padding: 2%;
    margin-left: 47%;
    margin-top: 139px;
    padding-top: 17px;
    padding-bottom: 34px;
    border: 4px solid black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f6f6f6;
    -webkit-text-fill-color: #101010;
    text-shadow: 5px 3px 6px gray;
}
.happyindependent{
    background: transparent;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #0b3bd3;
-webkit-text-fill-color: #e6e6e6;
text-shadow: 5px 3px 6px gray;
position: absolute;
font-size: 59px;
color: white;
border-radius: 50%;
padding: 3%;
margin-left: 22%;
margin-top: 397px;
padding-top: 17px;
padding-bottom: 34px;
}

.box{
    height: 50%;
    width: 50%;
}